[Unit]
Description=Cipherblue User Environment Immutability Engine
# We remove DefaultDependencies=no so systemd handles it normally
After=local-fs.target systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/cipherblue/cipher-user-env-lockdown.sh
RemainAfterExit=yes

[Install]
# Bind to multi-user so it runs asynchronously, NEVER blocking the GUI
WantedBy=multi-user.target
