[Unit]
Description=Restrict shells for non-sysadmin users to nologin
DefaultDependencies=no
After=local-fs.target sysinit.target systemd-sysusers.service
Wants=local-fs.target systemd-sysusers.service
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/cipherblue/lockdown-shells.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

