[Unit]
Description=Cipherblue Privacy Mode (Enforced)
Wants=cipher-privacy-apply.service cipher-killswitch.service cipher-run-user-sweep.path dnscrypt-proxy.service fapolicyd.service unbound.service cipher-immutable.service
After=network-pre.target

[Install]
WantedBy=multi-user.target
