name: build-cipherblue
on:
  schedule:
    - cron: "00 6 * * *"
  workflow_dispatch:
jobs:
  bluebuild:
    name: Build Cipherblue
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          - cipherblue.yml
    steps:
      - name: Build Cipherblue
        uses: blue-build/github-action@4d8b4df657ec923574611eec6fd7e959416c47f0
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          maximize_build_space: false
          squash: true